body {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1, h3 {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.card {
  padding: 20px;
}

#refresh {
  width: 300px;
}

#edit-form {
  background-color: #fff;
}

.full {
  width: 300px;
}

.row-inrange-true {
  color: #fff;
  background-color: #00D255;
}

#form-container {
  max-width: 350px;
  margin: 0 auto;
}
